
/* font-family: 'Stalinist One', cursive;
font-family: 'Exo 2', sans-serif; */

body {
    font-family: 'Stalinist One', cursive;
    font-size: 18px;
    background-color: rgb(182, 233, 207);
}

header {
    font-size: 36px;
}

.crystal-image {

    width: 200px;
    height: 280px;
    padding: 10 px;
    float: left;
} 

